.git
target
userdata
dist
apps/tray
**/.DS_Store
**/*.key
**/relay-host.toml
**/relays
**/node_modules
**/.wrangler
**/.dev.vars*
**/.env*

**/.build
**/DerivedData*
**/Libraries
**/*.xcodeproj
apps/website
apps/mobile
apps/cloud-sync-helper
assets
